/** BASIC - RESET **/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/** - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - **/

/** GLOBAL - STYLES **/
aside {
    background-color: rgb(233, 200, 240);
    padding: 5px;
    width: 250px;
    height: 900px;
    float: left;
}
aside h1 {
    text-align: center;
    margin-bottom: 30vh;
}


footer {
    background-color: rgb(233, 200, 240);
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer p {
    color: rgb(133, 133, 133);
}

/** - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - **/

/** USER - COMPONENTS **/
.user-container {
    display: flex;
    margin-bottom: 30vh;
    gap: 15px;
}

/* USER - AVATAR */

.userAvatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}

/** - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - **/

/** LOGOUT - BUTTON **/

.log-out-button {
    padding: 5px;
    color: rgb(255, 255, 255);
    background-color: rgb(121, 8, 8);
    border-radius: 5px;
}

/** - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - **/ 

/** CREATE EVENT - BUTTON **/

.button-container{
    text-align: end;
    padding: 5px;
}
.button-container .create-button {
    margin-top: 10px;
    padding: 5px;
    background-color:rgb(111, 22, 194);
    color: white;
    border-radius: 5px;
}

/** FORM - CREATE EVENT **/

.createEventForm {
    padding: 5px;
    margin: 5px;
    display: grid;
    justify-content: center;
}

.createEventForm input {
    width: 40vh;
    margin: 10px;
}

.descriptionArea {
    height: 20vh;
    width: 50px;
}

.createEventForm button {
    width: 30vh;
}