/** BASIC-RESET **/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/** ---------------------------------------------------- **/

/** GLOBAL-STYLES **/

header {
    padding: 5px;
    margin: 5px;
}

/** ---------------------------------------------------- **/

/** HEADER **/

/* Header Title */
header h1 {
    margin: 10px;
    padding-left: 90px;
}

/** ---------------------------------------------------- **/

/** CARD - LOGIN **/

.container{
    padding: 20vh;
}